* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

button {
    outline: none;
}

.header {
    height: 5vh;
    /*display: flex;*/
    /*padding: 0 50px;*/
    /*align-items: center;*/
    /*justify-content: flex-end;*/
    background: #fff;
    max-width: 100vw;
}

.header-container {
    min-width: 100%;
    padding: 0 50px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.header button {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.1em;
    padding: 10px;
    transition: background 0.2s;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header button:not(.settings):hover {
    background: rgba(0, 0, 0, 0.1);
}

.header-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.header-section.header-divider {
  width: 1px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.header-section.header-divider div {
    height: 50%;
    background: #999;
    width: 100%;
}

.columns-container {
    display: flex;
    height: 95vh;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.column h2 {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  transition: background 0.2s;
  cursor: pointer;
}

.column h2:hover {
  background: rgba(0, 0, 0, 0.1);
}

.column button,
.settings {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
  transition: background 0.2s;
  border-radius: 10px;
  cursor: pointer;
}

.column button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.settings {
  /*position: absolute;*/
  /*top: 5%;*/
  /*right: 3%;*/
  padding: 0;
  transition: 0.5s transform ease 0.1s;
  z-index: 3;
}

.settings:hover {
  transform: rotate(60deg);
}

.settings-container {
  position: absolute;
  top: 0;
  right: -30%;
  width: 25%;
  height: 100vh;
  background: #f6f1f8;
  transition: 0.2s all ease;
    -webkit-box-shadow: -10px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -10px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -10px 0px 8px 0px rgba(34, 60, 80, 0.2);
    display: none;
}

.settings-container.active {
    display: block;
  right: 0;
}

.settings-container ul {
  list-style: none;
  margin-top: 25%;
}

.settings-container li:nth-child(even) {
  border-bottom: none;
  border-top: none;
}

.settings-container li {
  display: block;
  width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  cursor: pointer;
}

.settings-container li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.generate-colors-item span,
.add-new-column span,
.close-settings span {
  display: inline-block;
  color: rgb(172, 172, 172);
  margin-left: 15%;
}

.successful-copy-notification {
  visibility: hidden;
  opacity: 0;
  width: 80px;
  height: 30px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s all ease;
}

.successful-copy-notification h4 {
  font-weight: normal;
  font-style: italic;
}

@media only screen and (max-width: 767px) {
    body {
        flex-direction: column-reverse;
    }

    .header .header-section:first-child {
        margin-right: auto;
    }

    .settings-container {
        width: 350px;
        right: -100%;
    }

    body {
        font-size: 16px;
    }

    .header {
        font-size: 16px;
    }

    .columns-container {
        flex-direction: column;
        width: 100%;
    }

    .column button {
        display: none;
    }

    .column {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 40px;
    }

    .settings-container span,
    .settings-container span {
        display: none;
    }

    .gradients-state,
    .inversion-state {
        display: inline-block!important;
    }

    .setting-container li {
        height: 30%;
    }
}

@media only screen and (max-width: 634px) {
    /*body {*/
    /*    font-size: 14px;*/
    /*}*/

    /*.header {*/
    /*    font-size: 14px;*/
    /*}*/

    .header-container {
        padding: 0 10px;
        max-width: 100vw;
    }

    .header-section.header-divider {
        display: none;
    }

    .header-container {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        height: 10vh;
    }

    .columns-container {
        height: 90vh;
    }

    .header button span {
        display: none;
    }

    .header button {
        font-size: 1.2em;
    }
}

/*@media only screen and (max-width: 528px) {*/
/*    .header button span {*/
/*        display: none;*/
/*    }*/

/*    .header-section.header-divider {*/
/*        display: none;*/
/*    }*/
/*}*/

@media only screen and (max-width: 325px) {
    .header .header-section:first-child {
        margin-right: 0;
    }
}

@media (hover: none) {
    button:hover {
        background-color: transparent;
        color: #000;
    }
}
